%h1 Raspberry Piでパトランプ
%a.btn.btn-primary{href: "/flash"}
  Flash
  %span.glyphicon.glyphicon-star-empty
%hr
%form{action: "/alert", method: "get"}
  .form-group
    %label{for: "message"} アラート
    %textarea#memo.form-control{ rows: 5, placeholder: "メッセージ", name: "message"}
  %input.btn.btn-primary{type: "submit", value: "send"}
%hr
%form{action: "/light", method: "get"}
  .form-group
    %label{for: "color"} 色
    %textarea#memo.form-control{ rows: 5, placeholder: "color's name", name: "color"}
  %input.btn.btn-primary{type: "submit", value: "send"}
