.wrapper{style: "margin: 0px auto;max-width:900px;"}
  %a{href: "/"}
    %h1 Raspberry Piでパトランプ
  %hr
  %a.btn.btn-danger{href: "/flash"}
    flash
  %hr
  %form{action: "/alert", method: "get"}
    .form-group
      %label{for: "message"} アラート
      %input#message.form-control{ type: "text", placeholder: "メッセージ", name: "message", value: #{@message}}
      %p.control-label 声質
      .radio-inline
        %input{type: "radio", value: "", name: "voice", id: "woman", checked: "checked"}
        %label{for: "woman"} 女性
      .radio-inline
        %input{type: "radio", value: "show", name: "voice", id: "show"}
        %label{for: "show"} showくん(モヤモヤさまぁ～ず)
    %input.btn.btn-danger{type: "submit", value: "alert"}
  %hr
  %form{action: "/light", method: "get"}
    .form-group
      %label{for: "color"} 色名
      %input#color.form-control{ type: "text", placeholder: "color's name", name: "color", value: #{@color}}
    %input.btn.btn-primary{type: "submit", value: "送信"}
  %hr
  - #colors = %W(AliceBlue AntiqueWhite Aqua Aquamarine Azure Beige Bisque)
  - @colors.each do |c|
    %a.btn.btn-default{href: "/light?color=#{c}"}
      = c
